<style>
body {
    background-color: green;
}
</style>
<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%=link_to "FindMe",root_path  %>  > safety
    </div>
  </div>
</div>
<div class="container">
    <p> This is the Safety page. If you need more informations contact the web developer team
    </p>
</div>
